JWT_SECRET=3699a092b7bee6c977a6a6e1edd46b9c72e99b254e12d2125f2163269e8133b9 # RUNTIME
COOKIE_SECRET=3bf45cfcbc0c1955f72c7d3ff18aa9815cbe27d6301af7315bd53d5676d1c286 # RUNTIME
STORE_CORS=https://.*grogan-engrave.medusajs.site,https://.*coincidental-hall-heal.medusajs.site # RUNTIME
ADMIN_CORS=https://.*grogan-engrave.medusajs.site,https://.*coincidental-hall-heal.medusajs.site # RUNTIME
AUTH_CORS=https://.*grogan-engrave.medusajs.site,https://.*coincidental-hall-heal.medusajs.site # RUNTIME
STRIPE_API_KEY=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 # RUNTIME
USER_INITIAL_EMAIL=zack@grogan.dev # RUNTIME
USER_INITIAL_PASSWORD=Starcraft811594 # RUNTIME
MEDUSA_BACKEND_URL=https://cleared-discussion-vanish.medusajs.app # RUNTIME
NODE_ENV=production # BUILD & RUNTIME
